.searchBar
    display: flex
    align-items: center
    background-color: #f4f5f5
    padding: 0.6rem 0.7rem 0.6rem 0.7rem // 上右下左

    input
        outline: none
        background-color: transparent
        border: none
        color: #A8A8A8

        &::placeholder
            color: #A8A8A8

    .searchIcon
        cursor: pointer
