body, html, h1 {
    margin: 0
    padding: 0
    font-size: 12px
}

#App {
    top: 0
    left: 0
}

button {
    cursor: pointer
}

html {
    background-color: #f4f5f5
}

h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 50px
}

* {
    scroll-behavior: smooth
}